<main class="colorPlane">
  
     <section class="box bolg">
       <article class="card">
         <h1 class="time">{{time}}</h1>
         <h2 class="cardTitle">博客</h2>
       </article>
     </section>
     <section  class="box hot">
       <article class="card">
         <h1 class="time">{{time}}</h1>
         <h2 class="cardTitle">热门</h2>
       </article>
     </section>
     <section  class="box essay">
        <article class="card">
          <h1 class="time">{{time}}</h1>
         <h2 class="cardTitle">杂文</h2>
       </article>
     </section>
     <section class="box chat">
        <article class="card">
          <h1 class="time">{{time}}</h1>
         <h2 class="cardTitle">交流</h2>
       </article>
     </section>
</main>