.head {
    text-align: center;
    display: flex;
}

.logoBox {
    // width: 100px;
    height: 100%;
    display: inline-block;
    // flex: 1;
    width: 35%;
}

.logoBoxImg {
    // width: 100px;
    height: 100%;
    display: inline-block;
    // flex: 1;
    width: 30%;
}

.headImg {
    width: 90%;
    height: 2rem;
}

.logoText {
    font-size: 1.5rem;
    color: #ccc;
    font-family: "Times New Roman", Georgia, Serif;
    font-weight: bold;
}

// .div {
//     width: 100px;
//     height: 100px;
//     background: blue;
//     transition: width 2s;
//     -moz-transition: width 2s;
//     /* Firefox 4 */
//     -webkit-transition: width 2s;
//     /* Safari and Chrome */
//     -o-transition: width 2s;
//     /* Opera */
// }
// .div:hover {
//     width: 300px;
// }