<header class="lz-head">
    <span class="lz-head-left">
  </span>
    <span class="lz-head-middle head">
    <!--<img class="headImg" src="../../../assets/test.jpg">-->
    <span class="logoBox">
      <span class="logoText">about</span>
    </span>
    <span class="logoBoxImg">
     <img class="lz-img headImg" src="../../../assets/test.jpg">
    </span>
    <span class="logoBox">
      <span class="logoText">cont1act</span>
    </span>
    </span>
    <span class="lz-head-right">
  </span>
    <!--<div class="div">

    </div>-->
</header>