/* You can add global styles to this file, and also import other style files */

html {
    font-size: 62%;
    overflow-y: hidden;
}

body {
    margin: 0px;
}

@media only screen and (min-width: 481px) {
    html {
        font-size: 94%!important;
    }
}

@media only screen and (min-width: 561px) {
    html {
        font-size: 100%!important;
    }
}

@media only screen and (min-width: 641px) {
    html {
        font-size: 120%!important;
    }
}


/*set start*/

$headHeight:3rem;
$buttonHeight:2.5rem;
$buttonWidth:6rem;
$img:3rem;

/*set end*/


/*head start */

.lz-head {
    height: $headHeight;
    display: flex;
    border-bottom: 1px #ccc solid;
    .lz-head-left {
        display: inline-block;
        line-height: $headHeight;
        flex: 1;
    }
    .lz-head-middle {
        display: inline-block;
        line-height: $headHeight;
        flex: 1;
    }
    .lz-head-right {
        display: inline-block;
        line-height: $headHeight;
        flex: 1;
    }
}


/*head end*/


/*component start*/

.lz-button {
    height: $buttonHeight;
    width: $buttonWidth;
    border: none;
    color: #fff;
    background-color: brown;
}

.lz-img {
    width: $img;
    height: $img;
    display: inline-block;
    vertical-align: middle;
}


/*component end*/


/*footer start */

@-webkit-keyframes fadeInOut {
    // 0% {
    //     opacity: 0;
    // }
    // 50% {
    //     opacity: 0.5;
    // }
    // 100% {
    //     opacity: 0.8;
    // }
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes footMove {
    from {
        bottom: 0px;
    }
    to {
        bottom: 100px;
    }
}

.footer {
    // z-index: 1000;
    position: absolute;
    width: 100%;
    bottom: 100px;
    color: #fff;
    // text-align: center;
    animation: footMove 1.5s;
    .footerText {
        font-size: 2rem;
        width: 80%;
        margin: auto;
        font-family: "STKaiti";
        -webkit-animation-name: fadeInOut;
        -webkit-animation-duration: 1s;
    }
}


/*footer color end */